<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>{{ .webTitle }}</title>  
    <link rel="stylesheet" href="http://img.static.com/release/css/pintuer.css">
    <link rel="stylesheet" href="http://img.static.com/release/css/admin.css">
    <script src="http://img.static.com/release/js/jquery.js"></script>   
</head>
<body style="background-color:#f2f9fd;">
<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
      <h1><img src="http://img.static.com/release/img/y.jpg" class="radius-circle rotate-hover" height="50" alt="" />&nbsp;{{ .username }}&nbsp;&nbsp;</h1>
  </div>
  <div class="head-l"><a class="button button-little bg-green" href="http://qa.new.test.com.cn/" target="_blank"><span class="icon-home"></span> 测试首页</a> &nbsp;&nbsp;<a href="http://www.test.com/" class="button button-little bg-blue"><span class="icon-home"></span> 线上首页</a> &nbsp;&nbsp;<a class="button button-little bg-red" href="/user/logout/"><span class="icon-power-off"></span> 退出登录</a> </div>
</div>
<div class="leftnav">
    <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
        <h2><span class="icon-adn"></span>网站环境</h2>
        <ul style="display:block">
            <li><a href="/release/branch/list" target="right"><span class="icon-caret-right"></span>测试环境</a></li>
            <li><a href="/release/order/list/pre/1" target="right"><span class="icon-caret-right"></span>发布环境</a></li>
            <li><a href="/release/order/list/pro/1" target="right"><span class="icon-caret-right"></span>生产环境</a></li>
        </ul>
        <h2><span class="icon-hdd-o"></span>发布管理</h2>
        <ul>
            <li><a href="/release/order/add" target="right"><span class="icon-caret-right"></span>发布工单</a></li>
            <li><a href="/release/pre/file" target="right"><span class="icon-caret-right"></span>发布文件</a></li>
        </ul>

        {{ if eq .username .adminuser }}
        <h2><span class="icon-user"></span>后台管理</h2>
        <ul>
            <li><a href="/user/list" target="right"><span class="icon-caret-right"></span>用户管理</a></li>
            <li><a href="/release/order/list/false" target="right"><span class="icon-caret-right"></span>工单管理</a></li>
        </ul>
        {{ end }}
</div>
<script type="text/javascript">
$(function(){
  $(".leftnav h2").click(function(){
	  $(this).next().slideToggle(200);	
	  $(this).toggleClass("on"); 
  })
  $(".leftnav ul li a").click(function(){
	    $("#a_leader_txt").text($(this).text());
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
});
</script>
<ul class="bread">
  <li><a href="/release/welcome" target="right" class="icon-home"> 首页</a></li>
  <li><a href="##" id="a_leader_txt">网站信息</a></li>
</ul>
<div class="admin">
  <iframe scrolling="auto" rameborder="0" src="/release/welcome" name="right" width="100%" height="100%"></iframe>
</div>
<div style="text-align:center;">
</div>
</body>
</html>
