<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="http://img.static.com/release/css/pintuer.css">
    <link rel="stylesheet" href="http://img.static.com/release/css/admin.css">
    <script src="http://img.static.com/release/js/jquery.js"></script>
    <script src="http://img.static.com/release/js/pintuer.js"></script>
</head>
<body>

<div class="panel admin-panel">
<div class="panel-head"><strong class="icon-reorder"> 回滚目标工单</strong></div>
<table class="table table-hover text-center">
    <tr>
        <th>序号</th>
        <th>类型</th>
        <th>工单主题</th>
        <th>发布时间</th>
        <th>操作者</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    <tr>
        <td>{{ .order.Id }}</td>
        <td>{{ .order.OpType }}</td>
        <td>{{ n2br .order.Title | str2html }}</td>
        <td>{{ timeToStr .order.Timestamp }}</td>
        <td>{{ .order.OpName }}</td>
        <td><font color="#00CC99">发布完成</td>
        <td><div class="button-group"> <a class="button" href="#">等待</a></div></td>
    </tr>
    <tr>
        <td colspan="8">
        </td>
    </tr>
</table>

<div class="panel admin-panel margin-top">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>回滚操作</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="/release/order/back/{{ .order.Timestamp }}">

            <div class="form-group">
                <div class="label">
                    <label>回滚主题：</label>
                </div>
                <div class="field">
                    <textarea class="input" name="title" style=" height:200px; width:365px;" placeholder="请输入回滚主题" data-validate="required:请输入回滚主题,length#>=3:主题不能小于三个字符"></textarea>
                    <div class="tips"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit" onclick="return window.confirm('确定要提交吗？')"> 提交</button>
                </div>
            </div>

        </form>
    </div>
</div>
</div>
</div>

</body>

</html>
