<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="http://img.static.com/release/css/pintuer.css">
    <link rel="stylesheet" href="http://img.static.com/release/css/admin.css">
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 搜索结果</strong></div>
    <table class="table table-hover text-center">
        <tr>
            <th>序号</th>
            <th>类型</th>
            <th>工单主题</th>
            <th>发布时间</th>
            <th>操作者</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        {{ range $k, $v := .orders }}
        <tr>
            <td>{{ $v.Id }}</td>
            <td>{{ $v.OpType }}</td>
            <td>{{ n2br $v.Title | str2html }}</td>
            <td>{{ timeToStr $v.Timestamp }}</td>
            <td>{{ $v.OpName }}</td>
            {{ if eq $v.Status true }}

            {{ if eq $v.OpType "发布" }}
            <td><font color="#00CC99">发布成功</td>
            <td>
                {{ if eq $v.Env "pre" }}
                <div class="button-group"> <a class="button border-red" href="/release/order/back/{{ $v.Timestamp }}/"><span class="icon-magic"></span> 回滚</a></div>
                {{ end }}
                <div class="button-group"> <a class="button border-green" href="/release/order/log/{{ $v.Timestamp }}/">&nbsp;日志&nbsp;</a></div>
            </td>
            {{ else if eq $v.OpType "回滚" }}
            <td><font color="#00CC99">回滚成功</td>
            <td>
                <div class="button-group"> <a class="button border-green" href="/release/order/log/{{ $v.Timestamp }}/">&nbsp;日志&nbsp;</a></div>
            </td>
            {{ end }}

            {{ else }}

            {{ if eq $v.OpType "发布" }}
            <td><font color="#FF0000">正在发布中.....</td>
            <td><div class="button-group"> <a class="button" href="#">等待</a></div></td>
            {{ else if eq $v.OpType "回滚" }}
            <td><font color="#FF0000">正在回滚.....</td>
            <td><div class="button-group"> <a class="button" href="#">等待</a></div></td>
            {{ end }}

            {{ end }}
        </tr>
        {{ end }}
    </table>
</div>
</body>
</html>
