<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
    <link rel="stylesheet" href="http://img.static.com/release/css/pintuer.css">
    <link rel="stylesheet" href="http://img.static.com/release/css/admin.css">
</head>
<body>
<div class="panel admin-panel">
<div class="panel-head"><strong class="icon-reorder"> 未完成工单列表</strong></div>
    <table class="table table-hover text-center">
      <tr>
        <th>序号</th>
        <th>类型</th>
        <th>工单主题</th>
        <th>发布时间</th>
        <th>操作者</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      {{ range $k, $v := .orders }}
        <tr>
            <td>{{ $v.Id }}</td>
            <td>{{ $v.OpType }}</td>
            <td>{{ n2br $v.Title | str2html }}</td>
            <td>{{ timeToStr $v.Timestamp }}</td>
            <td>{{ $v.OpName }}</td>
            <td><font color="#00CC99">正在发布</td>
            <td>
                <div class="button-group"> <a class="button border-red" href="/release/order/modify/{{ $v.Id }}" onclick="return window.confirm('确定要把状态改为完成吗？')"><span class="icon-edit"></span> 更改状态</a></div>
            </td>
        </tr>
      {{ end }}
        <tr>
        <td colspan="8">
            <div class="pagelist">
                <a href="#">上一页</a>
                <a href="#">上一页</a>
                <span class="current">1</span>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">下一页</a>
            </div>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
