<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="http://img.static.com/release/css/pintuer.css">
    <link rel="stylesheet" href="http://img.static.com/release/css/admin.css">
    <script src="http://img.static.com/release/js/jquery.js"></script>
    <script src="http://img.static.com/release/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 使用说明</strong></div>
    <div class="body-content">
        <h1>1.发布主题尽量写的详细，方便以后查阅历史版本</h1>
        <h1>2.回滚版本操作步骤：回滚发布环境工单-->确认回滚正常-->发布版本到生产环境</h1>
    </div>
</div>

